{% extends 'layouts.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <h1>Meu Carrinho</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Cor</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                    <th>Desconto</th>
                    <th>SubTotal</th>
                </thead>
                <tbody>
                    {% for key , produto in pedidos.pedido.items() %}
                    {% set discount = "%0.2f" |format((produto.discount/100) * produto.price|float) %}

                    <tr>
                        <td>{{loop.index}}</td>

                        <td>{{produto.name}}</td>

                        <form action="{{url_for('updateCarro',code=key)}}" method="POST">
                            <td>R$ {{produto.color|capitalize}}</td>
                            <td>R$ {{produto.price}}</td>
                            {% if produto.discount > 0 %}
                            <td>{{produto.discount}} % &nbsp; = {{discount}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% set subTotal = produto.quantity|int * produto.price|float %}
                            <td>{{"%0.2f"|format ((subTotal|float) - discount|float)}}</td>

                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-sm">
                <tr>
                    <td></td>

                    <td><a href="#" class="btn btn-success btn-sm float-start">Processar Compra</a></td>
                    <td colspan="3">Imposto:&nbsp; R$ {{imposto}}</td>
                    <td colspan="5">Valor Pagar:&nbsp; R$ {{gTotal}} </td>
                    <td><a href="#" class="btn btn-warning btn-sm float-end">Baixar PDF</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}